<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.liandroid"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.LiAndroid">
    <activity
      android:name=".customtest.slidemenu.SlideMenuActivity"
      android:exported="true" />
    <activity
      android:name=".Contactrecyclerview.ContactListActivity"
      android:exported="true" />
    <activity
      android:name=".customtest.myviewpager.MyViewPagerActivity"
      android:exported="true" />
    <activity
      android:name=".customtest.autoattibute.AutoAttributeActivity"
      android:exported="true" />
    <activity
      android:name=".customtest.togglebutton.ToggleButtonActivity"
      android:exported="true" />
    <activity android:name=".customtest.popupwindow.PopupWindowActivity" />
    <activity android:name=".customtest.viewpager.ViewpageActivity" />
    <activity android:name=".customtest.menu.MenuTestActivity" />
    <activity android:name=".customtest.CustomViewActivity" />
    <activity android:name=".event.KeyEventTestActivity" />
    <activity android:name=".event.MotionEventTestActivity" />
    <activity android:name=".event.EventTestActivity" />
    <activity android:name=".listview.ListViewActivity" />
    <activity android:name=".runtimepermission.RuntimePermissionActivity" />
    <activity android:name=".handler.HandlerTestActivity" />
    <activity
      android:name=".main.MainActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

  <uses-permission android:name="android.permission.CALL_PHONE" />

</manifest>